<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://processlowbatteryrequest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/24da1102-2f23-40e6-97d9-9d1bcea230b2/resourcegroups/rg-essentials2019/providers/Microsoft.Web/sites/ProcessLowBatteryRequest</ResourceId>
    <UserName>$ProcessLowBatteryRequest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://processlowbatteryrequest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>